<mat-card appearance="outlined">
  <mat-card-header><h1>Sign up</h1></mat-card-header>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput
             placeholder="Ex. pat@example.com">
    </mat-form-field>
    <mat-form-field  class="example-full-width">
      <mat-label>Enter your password</mat-label>
      <input matInput  />
      <button
        mat-icon-button
        matSuffix
      >
        <mat-icon>{{ 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div class="example-button-row">
    <button mat-flat-button  routerLink="login" (click)="proceedAfterSignUp()">Create Account</button>
    <p>Already have an account? <span routerLink="login" (click)="backToLogin()">Login</span></p>

  </div>
</mat-card>

