
<mat-list>
  <div mat-subheader>Notes</div>

  <mat-list-item>
    <mat-icon matListItemIcon>note</mat-icon>
    <div matListItemTitle>Note 1</div>
    <div matListItemLine>Feb 20, 2024</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>note</mat-icon>
    <div matListItemTitle>Note 2</div>
    <div matListItemLine>Feb 20, 2024</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>note</mat-icon>
    <div matListItemTitle>Note 3</div>
    <div matListItemLine>Feb 20, 2024</div>
  </mat-list-item>

</mat-list>



