<mat-card appearance="outlined">
  <mat-card-header><h1>User Login</h1></mat-card-header>
  <form class="example-form">

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput
             placeholder="Ex. pat@example.com">
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" value="">
    </mat-form-field>
  </form>
  <div class="example-button-row">
    <button mat-flat-button  routerLink="login" (click)="proceedAfterLogin()">Login</button>
    <p>Not registered yet? <span routerLink="register" (click)="createAccount()">Create Account</span></p>

  </div>
</mat-card>



