<mat-toolbar>
  <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Notes</span>

  <span class="example-spacer"></span>
  <button aria-label="Example icon-button with bell icon" class="example-icon favorite-icon" mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <div (click)="logout()" routerLink="login"><p>Logout</p></div>
</mat-toolbar>
<mat-grid-list cols="2">
  <mat-grid-tile>
    <div>
      <div class="example-button-container">
        <button (click)="addNote()" aria-label="Add note button" mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <app-note-card></app-note-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>




