<!--<h1 mat-dialog-title>Delete file</h1>-->
<!--<div mat-dialog-content>-->
<!--  Would you like to delete cat.jpeg?-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button mat-dialog-close>No</button>-->
<!--  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>-->
<!--</div>-->
<!--<h1 mat-dialog-title>Note</h1>-->
<!--<form class="example-form">-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Note Title</mat-label>-->
<!--    <input matInput placeholder="Enter your title" value="Title Goes here">-->
<!--  </mat-form-field>-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Note Tags</mat-label>-->
<!--    <input matInput placeholder="Enter your title" value="Title Goes here">-->
<!--  </mat-form-field>-->



<!--</form>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="onConfirm()">Delete</button>-->
<!--  <button mat-button mat-dialog-close>Close</button>-->

<!--</div>-->
<h1 mat-dialog-title>Delete Note</h1>
<div mat-dialog-content>
  Are you sure you want to delete this file?
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Yes</button>
</div>
